.profile-details label {
    font-size: 13px;
    // margin-left: 70px;
}
.btn-update{
    background-color:#673ab7;
    color: white;
}

.btn-update:active{
    background-color:#673ab7;
    color: white;
}
.project-link{
    color: #673ab7;
}