<nav class="navbar navbar-expand-lg navbar-light bg-violet p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="javascript:void(0)"> <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link  text-white fw-medium font-15" aria-current="page"
                        href="">Basic Information</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white fw-medium font-15 " href="javascript:void(0)">Boodskap IoT</a>
                </li>
            </ul>
            <span class="navbar-text d-flex align-items-center">
                <button type="button" class="btn btn-outline-primary upgrade-btn p-1 px-3 text-white">Upgrade to
                    PRO</button>
                <div class="px-3">
                    <label class="switch" for="checkboxTheme">
                        <input type="checkbox" checked id="checkboxTheme" class="checkboxTheme" />
                        <div class="slider round"></div>
                    </label>
                </div>
                <!-- <div ngbDropdown class="d-inline-block">
                    <div  ngbDropdownToggle>

                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                    </div>
                </div> -->
            </span>
        </div>
    </div>
</nav>
<div class="sub-header">
    <div class="d-flex justify-content-between align-items-center">
        <div class="left-section">
            <ul class="p-0 m-0">
                <li>
                    <div ngbDropdown class="d-inline-block">
                        <div class="" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa fa-undo me-1" aria-hidden="true"></i>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div ngbDropdown class="d-inline-block">
                        <div class="" id="dropdownBasic2" ngbDropdownToggle>
                            <i class="fa fa-repeat me-1" aria-hidden="true"></i>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </li>

                <li class="font-15">Help</li>
                <li class="font-15">Tutorials</li>
            </ul>
        </div>
        <div class="right-section d-flex align-items-center">

            <div ngbDropdown class="d-inline-block px-3 c-pointer border-left">
                <div  id="dropdownBasic3" class="font-15" ngbDropdownToggle>
                    Web 1920 (1920 * 1080)
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
            <div class="icon-style d-inline-block">
                <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div class="icon-style d-inline-block">
                <i class="fa fa-tablet" aria-hidden="true"></i>
            </div>
            <div class="icon-style d-inline-block ">
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
            <div class="icon-style d-inline-block ">
                <i class="fa fa-repeat " aria-hidden="true"></i>
            </div>
            <div class="icon-style d-inline-block ">
                <i class="fa fa-floppy-o " aria-hidden="true"></i>
            </div>
            <div class="icon-style d-inline-block ">
                <i class="fa fa-eye " aria-hidden="true"></i>
            </div>

            <button type="button" class="btn btn-danger publish-btn border-left mx-2">Publish</button>

        </div>
    </div>
</div>