.sidebar .nav-item .nav-link{
    padding: 0.5rem 1rem;
}

.sidebar-dark .sidebar-brand {
    color: #ffffff;
    background-color: #2b262e;
    border-bottom: 1px solid #ffffff1c;
}

.nav-item.active{
    background-color: #f41a7b !important;
}

.header-icons {
    color: #565656 !important;
}

.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: -6px;
    margin-top: -15px;
}

.btn-purchase{
    margin-top: 21px;
    padding: 5px 10px;
    font-size: 12px;
    padding-top: 5px;
    background: #fff;
    border: 1px solid #f41a7b;
    color: #f41a7b;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: none !important;
    outline: none !important;
}

.btn-purchase:hover, .btn-purchase:active{
    background: #f41a7b !important;
    border: 1px solid #f41a7b !important;
    color: #ffffff !important;
}

.dropdown-item.active, .dropdown-item:active{
    color: #ffffff;
    text-decoration: none;
    background-color: #f41a7b;
}

.left-menu {
    position: absolute;
    top: 50px;
    left: -250px;
    width: 250px;
    height: calc(100% - 50px);
    background-color: #fff;
    transition: left 0.3s ease-out;
  }
  
  .left-menu.visible {
    left: 0;
    border: 0;
    border-right: 1px solid #dddddd;
    box-shadow: 0px 3.5px 5px #dddddd;
    top: 54px;
  }