<div id="mySidenav" class="sidenav bskp-sidenav" style="background-color:white">
    <div class="sidebar">
    <ul class="nav">

        <li class="has-sub active sideMain homeMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/home_icon.svg" alt="">
                <span class="nav-module">Home</span>
            </a>
        </li>

        <li class="nav-header">Platform</li>

        <li class="has-sub sideMain marketMenu">
        <a href="">
            <img src="../../assets/images/leftmenu/bell.svg"  alt="">
            <span class="nav-module">Event Subscriptions</span>
        </a>
        </li>




        <li class="nav-devModule">Developer Modules</li>



        <li class="has-sub sideMain msgDefMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/message-definition_1-bskp.svg" alt="">
                <span class="nav-module">Message Definition</span>
            </a>
        </li>

        <li class="has-sub sideMain recordDefMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/record-definition-bskp.svg" alt="">
                <span class="nav-module">Record Definition</span>
            </a>
        </li>

        <li class="has-sub sideMain">
            <a href="">
                <img src="../../assets/images/leftmenu/db-table.svg" alt="">
                <span class="nav-module">DB Tables</span>
            </a>
        </li>
        


        <li class="has-sub sideMain recordDefMenu sqlquery">
            <a href="">
                <img src="../../assets/images/leftmenu/sql-table.svg" alt="">
                <span class="nav-module">SQL Tables</span>
            </a>
        </li>
        <li class="has-sub sideMain scriptMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/script-console-fanta-bskp.svg" alt="">
                <span class="nav-module">Script Console</span>
            </a>
        </li>
        <li class="has-sub sideMain rulesMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/rules-engine-fanta-bskp.svg" alt="">
                <span class="nav-module">Rules Engine</span>
            </a>
        </li>
        <li class="has-sub sideMain codeEditor">
            <a href="">
                <img src="../../assets/images/leftmenu/code-editor.svg" alt="">
                <span  class="nav-module">Code Editor</span>
            </a>
        </li>
        <li class="has-sub sideMain eventMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/events&notifications-bskp.svg" alt="">
                <span class="nav-module">Events & Notification</span>
            </a>
        </li>
        <li class="has-sub sideMain eventMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/templates-bskp.svg" alt="">
                <span class="nav-module">Platform Templates</span>
            </a>
        </li>

        <li class="has-sub sideMain sqlquery">
            <a href="">
                <img src="../../assets/images/leftmenu/dsql-temp.svg" alt="">
                <span class="nav-module">DSQL Templates</span>
            </a>
        </li>

        <li class="has-sub sideMain dbquery">
            <a href="">
                <img src="../../assets/images/leftmenu/db-templates.svg" alt="">
                <span class="nav-module">DB Templates</span>
            </a>
        </li>



        <li class="nav-header">Administration</li>

        <li class="has-sub sideMain userHeader">

            <a href="javascript:;">
                <b class="caret"></b>
                <img src="../../assets/images/leftmenu/user-management-fanta-bskp.svg" alt="">
                <span class="nav-module">User Management</span> <i class="fa fa-caret-right user-module"></i>
            </a>

            <ul class="sub-menu">
                <li class="sideSub userMenu nav-module"><a class="side-sub-nav" href="<%= basepath %>/user-management">Manage Users</a></li>
                <li class="sideSub groupMenu nav-module"><a class="side-sub-nav" href="<%= basepath %>/user-group">Users group</a></li>
            </ul>
        </li>

        <li class="has-sub sideMain tokenHeader">
            <a href="">
               
                <i class="fa-solid fa-key"></i>
                <span class="nav-module token">Token Management</span>
            </a>

        </li>

        <li class="has-sub sideMain deviceHeader" >
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="../../assets/images/leftmenu/hardware-fanta_1-bskp.svg" alt="">
                <span class="nav-module">Device Management</span><i class="fa fa-caret-right device-module"></i>
            </a>
            <ul class="sub-menu">
                <li class="sideSub deviceMenu"><a class="side-sub-nav" href="<%= basepath %>/device-management">Manage Devices</a></li>
                <li class="sideSub deviceModelMenu"><a class="side-sub-nav" href="<%= basepath %>/device-models">Manage Device Models</a></li>
                <li class="sideSub deviceSimMenu"><a class="side-sub-nav" href="<%= basepath %>/device-tokens">Manage Device Tokens</a></li>



            </ul>
        </li>
        <li class="has-sub sideMain assetHeader">
            <a href="">

                <img src="../../assets/images/leftmenu/assets-management-bskp.svg" alt="">
                <span class="nav-module">Asset Management</span>
            </a>

        </li>
        <li class="has-sub sideMain firmwareHeader">
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="../../assets/images/leftmenu/firmware-management-fanta-bskp.svg" alt="">
                <span class="nav-module">Firmware Management</span><i class="fa fa-caret-right firm-module"></i>
            </a>
            <ul class="sub-menu">
                <li class="sideSub firmwareMenu"><a class="side-sub-nav" href="<%= basepath %>/firmware-management">Manage Firmware</a></li>
                <li class="sideSub otalMenu"><a class="side-sub-nav" href="<%= basepath %>/firmware/ota-upgrade">OTA Upgrade</a></li>
            </ul>
        </li>

        <li class="has-sub sideMain geofenceMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/geofence-fanta-bskp.svg" alt="">
                <span class="nav-module">Geofence Management</span>
            </a>
        </li>



        <li class="nav-header">Plugins</li>

        <li class="has-sub sideMain alexaMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/goggle-mic.svg" alt="">
                <span class="nav-module">Amazon Alexa</span>
            </a>
        </li>


        <li class="nav-header">Utilities</li>


        <li class="has-sub sideMain marketMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/folder.svg" alt="">
                <span class="nav-module">File Storage</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="" >
                <img src="../../assets/images/leftmenu/Search.png" alt="">
                <span class="nav-module">Elastic Search Query</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu dbquery">
            <a href="" >
                <img src="../../assets/images/leftmenu/db-query.svg" alt="">
                <span class="nav-module">DB Query Console</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu sqlquery">
            <a href="" >
                <img src="../../assets/images/leftmenu/dsql-console.svg" alt="">
                <span class="nav-module">Ignite SQL Query</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="">
                <img src="../../assets/images/leftmenu/messages.svg" alt="">
                <span class="nav-module">Raw Messages</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="" >
                <img src="../../assets/images/leftmenu/event-log.svg" alt="">
                <span class="nav-module">Event Logs</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="" target="_blank">
                <img src="../../assets/images/leftmenu/app-log.svg" alt="">
                <span class="nav-module">Application Logs</span>
            </a>
        </li>

    </ul>
    </div>
</div>